<%- include('../includes/nav.ejs') %>

<h2><%= author.firstName %> <%= author.lastName %></h2>
<!-- <a href="/book/edit/<%#= book.id %>">Edit</a>
<form action="/book/delete" method="post">
    <input type="hidden" name="id" value="<%#= book.id %>">
    <button type="submit">Delete</button>
</form> -->
<hr/>
<% if(author.books.length > 0) { %>
    <h4>Books:</h4>
    <% author.books.forEach(book => { %>
        <h4>
            <a href="/author/<%= author.id %>/book/<%= book.bookId %>">
                <%= book.title %>
            </a>     
        </h4>    
    <% }) %> 
<% } else { %>    
    <h2>No books yet!</h2>
<% } %> 
<hr/>
<div style="display: flex; justify-content: space-around;">
    <a href="/author/<%= author.id %>/book-add" class="btn btn-primary">Add book</a>  
    <a href="/author/<%= author.id %>/download-books" class="btn btn-warning">Download book list</a>
    <form action="/author/<%= author.id %>/delete" method="post">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <button type="submit" class="btn btn-danger">Delete author</button>
    </form>
</div>


<%- include('../includes/back.ejs') %>
<%- include('../includes/footer.ejs') %>
